<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    </head>
  <body class="app-page">
  <div class="jumbotron">
  <div class="clear_cities">
<div id="title_bar" class="container">
  <div class="row">
    <div class="overlay">
      <div id="profession">
      <h1>SELECT YOUR PROFESSION </h1>
      </div>

      <form class="form-inline">
        <div class="form-group">
          <input type="text" id="tags" class="form-control" placeholder="Profession Name" autofocus>
        </div>

        <a class="btn btn-primary btn-sm" id="submit_profession" data-target="listFunction" href="#" style="border-color: white; background-color:#303030; color:white">GO</a>

<!--         <div class"selected_prof">
          Selected Profession:
        </div> -->
      </form>
    <!--   <div class="ui-widget">
        <input type="text" id="tags" class="ui-autocomplete-input" autocomplete="off" placeholder="Profession Name" autofocus>
      </div> -->
      <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-1" tabindex="0" style="display: none; top: 27px; left: 42.8437px; width: 148px;">
      <li class="ui-menu-item" id="ui-id-7" tabindex="-1">Accounting</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Actuary</li>
      <li class="ui-menu-item" id="ui-id-9" tabindex="-1">Advertising</li>
      <li class="ui-menu-item" id="ui-id-10" tabindex="-1">Budget Analyst</li>
      <li class="ui-menu-item" id="ui-id-11" tabindex="-1">Claims Adjusters</li>
      <li class="ui-menu-item" id="ui-id-12" tabindex="-1">Financial Analyst/Advisor</li>
      <li class="ui-menu-item" id="ui-id-13" tabindex="-1">Financial Manager</li>
      <li class="ui-menu-item" id="ui-id-14" tabindex="-1">Financial Sales</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">HR Manager</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">InsuranceAgent</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Insurance Underwriter</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Real Estate Broker/Agent</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Comp/Info Research Scientist</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Computer Network Architect</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Computer-Control</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Computer Programmer</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Computer Science</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Web Developer</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Database Administrator</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Mathematician</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Graphic Designer</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Statistican</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Architect</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Carpenter</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Construction Worker</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Construction Operator</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Electrician</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Roofer</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Education Administrators</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Teacher Assistant</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Teacher</li>
      <li class="ui-menu-item" id="ui-id-8" tabindex="-1">Journalist</li>
      </ul>
    </div>
  </div>
</div>
</div>
<div class="clear"></div>
</div>

<!-- <div class="container2">
  <div class="col-md-12 column">
    <div class="non-jumbotron">
      <p>
        <a class="btn btn-primary btn-large" id="submit_profession" data-target="listFunction" href="#">FIND MY NEXT MOVE</a>
      </p>
    </div> -->



    <div class="wrapper">
      <div class="left" id="results" style="display: none;"></div>
      <div id="columnRight">
        <div class="left" id="city_details" style="display: none;"></div>
        <div class="left" id="map-currency" style="display: none;">
      </div>
        <div id="map"></div>
      </div>
    </div>

  </body>
</html>


 <!--  </div>
</div> -->

<!-- <div id="container">
    <div id="inner">
        <div id="home">
            <button class="btn btn-primary">City Details</button>
        </div>
        <div id="member-home">
            <button>Close</button>
        </div>
    </div> 
</div>
