<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div id="profession">
      <h1>What's Your Profession? ⤵ </h1>
      </div>
      <form class="form-inline">
        <div class="form-group">
          <input type="text" id="tags" class="form-control" placeholder="Profession Name" autofocus>
        </div>

        <a class="btn btn-primary btn-large" id="submit_profession" data-target="listFunction" href="#">➥ FIND MY NEXT MOVE</a>
      </form>

    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-12 column">
    <div class="non-jumbotron">
      
    </div>

    <div id="results" class="well">
    </div>

  </div>
</div>

<div id="container">
    <div id="inner">
        <div id="home">
            <button class="btn btn-primary">City Details</button>
        </div>
        <div id="member-home">
            <button>Close</button>
        </div>
    </div> 
</div>

<div class="city_details">
</div>
