<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    </head>
  <body>
<!--   <div style=" height: 100%; border-left: 1px red solid; left: 115px; top: 0px; position: fixed;"></div> -->
  <%= link_to "CONTINUE >", app_path, class: "enter" %>
  <div class="title">
    <h1>Re | Locate</h1>
  </div>
  <div class="description">
    <h1>Go the distance.</h1>
  </div>
  <div class="description">
  </div>
  <div id="background">
  <%= video_tag("Line Drawing Style -Sphere.mp4", autoplay: true, loop: true) %>
  </div>
  </body>
</html>