<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    </head>
  <body class="front-page">
<!--   <div style=" height: 100%; border-left: 1px red solid; left: 115px; top: 0px; position: fixed;"></div> -->
  <%= link_to "CONTINUE >", app_path, class: "enter" %>
  <div class="title">
    <h4>Re | Locate</h4>
  </div>
  <div class="quote">
    <h1>"Travel and change of place impart new vigor to the mind."</h1>
  </div>
  <!-- <div class="description">
    <h1>Go the distance.</h1>
  </div> -->
  <div class="description">
  </div>
  </body>
</html>