
 .title {
   color: yellow;
   margin-left: 53px;
   margin-top: 225px;
   font-family: 'Play';
   font-size: 35px !important;
 }
 
 .quote h1 {
     background-color: #ffdd00;
     width: 772px;
     height: 257px;
     font-size: 70px;
     margin-top: 8px;
     text-align: left;
     font-family: 'Arial';
     color: #333;
     padding: 0.5em;
     padding-top: 13px;
 }
  
 .description {
   padding-right: 50px;
   margin-left: 13px;
   font-family: normal;
   color: grey;
   width: 150px;
   font-size: 10px;
/*   word-wrap: break-word;*/
 }
 
 .enter {
   color: black;
   text-align: center;
   font-weight: bold;
   position: absolute;
   top: 495px;
   right: 514px;
   background: #ffdd00 !important;
   margin-right: 13px;
   width: 95px;
   height: 32px;
   vertical-align: middle;
   font-family: 'Play';
   font-weight: bold;
   font-size: 14px;
   border-radius: 2px;
   padding-right: 0px;
   line-height: 35px; 
   text-decoration: none !important;
   transition: all 0.5s ease-in-out;
 }
 .enter:hover {
  color: black ;
  padding-left: 10px;
  transition: all 0.5s ease-in-out;

 }
 .front-page {
  background-image: url(new2.jpg);
  margin: auto;
 }

