
 .title {
   color: yellow;
   margin-left: 53px;
   margin-top: 130px;
   font-family: 'Play';
   font-size: 25px !important;
 }
 .quote h1 {
   background-color: #ffdd00;
   padding-left: 50px;
   width: 850px;
   height: 315px;
   padding-right: 50px;
   font-size: 80px;
   margin-top: 85px;
   font-family: candara;
   color: black;
   border-radius: 5px;
   text-align: left;

  
 }
 .description {
   padding-right: 50px;
   margin-left: 13px;
   font-family: normal;
   color: grey;
   width: 150px;
   font-size: 10px;
/*   word-wrap: break-word;*/
 }
 
 .enter {
   color: black;
   text-align: center;
   font-weight: bold;
   position: absolute;
   top: 500px;
   right: 440px;
   background: #ffdd00 !important;
   margin-right: 13px;
   width: 95px;
   height: 32px;
   vertical-align: middle;
   font-family: 'Play';
   font-weight: bold;
   font-size: 11px;
   border-radius: 2px;
   padding-right: 0px;
   line-height: 35px; 
   text-decoration: none !important;
   transition: all 0.5s ease-in-out;
 }
 .enter:hover {
  color: black ;
  padding-left: 10px;
  transition: all 0.5s ease-in-out;

 }
 .front-page {
  background-image: url(new2.jpg);
  margin: auto;
 }
