// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gutter-width: 45px;
.app-page{
  background-color: #383838;

  // height: 100%;
  // width: 100%;

//     opacity: 1;
//     // font-size: 21px;
//     // margin-top: 25px;
//     // text-align: center;

//     -webkit-transition: opacity 1s ease-in;
//     transition: opacity 2s ease-in;
 }

// .app-page.load {
//     opacity: 1 !important;
//     margin: 0;
//     padding: 0;

// }

// .app-page {
//   margin: 0;
//     padding: 0;
// }

.jumbotron {
  padding-top: $gutter-width;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #303030 !important;
  text-align: center;
  z-index: 100;
}

.jumbotron.horizTranslate {
  opacity: 1 !important;
  position: absolute;
  transition: width 0.5s ease-in-out;
  width: 30%;
}

#title_bar {
  width: 100%;
  text-align: center;
}

.form-group {
    margin-left: 13px;
    margin-top: 13px;
    height: 43px;
    width: 200px;
    overflow-y:scroll;
}

label {
    font-size: 50px;

}

#tags {
    font-size: 15px;
    height: 30px;
    width: 200px;
    font-family: 'Quicksand';
    
}

.ui-autocomplete.ui-widget {
  font-family: 'Quicksand';
}

.middle_column1 {
  &:hover {text-decoration:none;
  color: #ffdd00;
}
  color: white;
  clear:both

}

.btn-custom {
  background-color: #8c9eff;
  border-color: #8c9eff;
  margin-left: 37px;
  font-size: 40px;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #7388ff;
  border-color: #5973ff;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #8c9eff;
  border-color: #8c9eff;
}


html, body { height: 100%; margin: 0; padding: 0; }
  #map { height: 100%; }

#profession h1 {
    font-size: 25px;
    text-align: center;
    font-family: 'Play';
    margin:0;
    margin-left: 13px;
    color: white;
}

#results {
  // padding-top: 160px;
  // // padding-left: 400px;
  // // width: 30%;
  // z-index: 2;
}

#column {
  display:flex
}

#city_details {

  padding-left: 400px;
  padding-top: $gutter-width;
  font-family: 'Cantarell';

    // margin-right: 390px;
    // padding-left: 500px;
    // z-index: 3;

    // padding-right: 0px;
}

a {
  &:hover {text-decoration:none;}
  text-decoration:none;
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
    &:hover {text-decoration:none;}
    text-decoration:none;
  }

#map-currency {
  // -webkit-border-radius: 10px 10px;
  // // width: 30%;
  // // height: 300px;
  // margin-right: 0px;
  display: block;
  // padding-left: 400px;
  // width: 35%;
  // margin-top: 400px;
  border:1px solid white;
  // margin-left: 30px;
  overflow: auto;



}

.wrapper {
  // display: table;
  // width: 100%;
  height: 100%;
}

.left {

    background-color: #383838;
    // width: 30%;
    height: 100%;
    padding-left: 90px;

}

#inner {
    position: relative;
    width: 800px; 
}
#home {
    position:absolute;
    width: 500px;
    height: 600px;
    background-color: #ffdc73;
}

#member-home {
    position:absolute;
    left:500px;
    width: 500px;
    height: 600px;
    background-color: grey;
}

#database_sentence {
  width:150px;
}

.loadinggif 
{
   background:
     url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif')
     no-repeat
     right center;
}

#links {
width: 150px;
  height: 30px;
  // float: right;
  
}

.dev_city {
  font-size:300%;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-family: 'Titillium Web'
}

#big_number {
  font-size:500%;

}

a.dev_city {
  &:hover {text-decoration:none;
  color: #ffdd00;}
  text-decoration:none;
}

p {
  color: white;
}

#map {
  padding-left: 400px;
  margin-top:0px;
  width:500px;
  height:380px;
}