// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group {
    margin-left: 13px;
    margin-top: 13px;
    overflow-y:scroll;
}
.overflow { height: 200px; }



label {
    font-size: 50px;

}

#tags {
    font-size: 15px;
    height: 30px;
    width: 400px;

}
.container2 {

position: absolute;
float: right;
width: 95px;
height: 35px;
}


.middle_column1 {
  clear:both
}

.btn-custom {
  background-color: #8c9eff;
  border-color: #8c9eff;
  margin-left: 37px;
  font-size: 40px;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #7388ff;
  border-color: #5973ff;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #8c9eff;
  border-color: #8c9eff;
}


html, body { height: 100%; margin: 0; padding: 0; }
  #map { height: 100%; }

#profession h1 {
    font-size: 60px;
    font-family: 'Times New Roman';
    color: #ffdd00;
    background-color:black;
    margin:0;

}
#results {
  background-color: #ffdc73;
  border-color: #ffdc73;
  width: 30%;
  margin-top:0;

}

#column {
  display:flex
}

#container {
    position: absolute;
    bottom:0;
    right:0;
    width:500px;
    height:50%;
    overflow:hidden;
}

#float_right {
  float:right;
}

.container {
    -moz-border-radius: 10px/10px;
    -webkit-border-radius: 10px 10px;
    border:solid 1px ;
}

.city_details {
  -moz-border-radius: 10px/10px;
    -webkit-border-radius: 10px 10px;
    border:solid 1px ;
    width: 35%;
    height: 300px;
    margin-right: 390px;
    float: right;
}

.map-currency {
-moz-border-radius: 10px/10px;
  -webkit-border-radius: 10px 10px;
  border:solid 1px ;
  width: 30%;
  height: 300px;
  margin-right: 0px;
  display: inline-block;
  
}
.wrapper
{
  display: table;
  width: 100%;
}

.left {
  display: table-cell;
  border:solid 1px ;
  width: 30%;
  height: 300px;
}

#inner {
    position: relative;
    width: 800px; 
}
#home {
    position:absolute;
    width: 500px;
    height: 600px;
    background-color: #ffdc73;
}

#member-home {
    position:absolute;
    left:500px;
    width: 500px;
    height: 600px;
    background-color: grey;
}

#database_sentence {
  width:150px;
}

.loadinggif 
{
   background:
     url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif')
     no-repeat
     right center;
}

#links {
width: 150px;
  height: 30px;
  float: right;
  
}


